html{
	font-size: 16px;
}


.agenda-container {
  max-width: 935px;
}

iframe{
	border: none;
}


section{
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

footer{
	padding-top: 3rem;
	padding-bottom: 3rem;
	background: #d3dbde;
}
.footer-logo{
	max-width: 175px;
}

hr {
  background-color: #000;
}

.img-fluid{
	width: 100%;
}

a{
	color: #959fa6;
}

/*************

Typography

*************/

body{
	font-family: 'Montserrat', sans-serif;
}

p,
.speaker-title,
.secondary-speaker-title,
.name,
.keynote-speaker,
.session-description{
	font-family: 'Karla', sans-serif;
}

h1,
h5,
p.tagline,
.section-title,
.session-title,
.trusted-company-tagline{
	color: #002bcc;
}

h1{
	font-size: 7.25rem;
}

h2{
	font-size: 2.75rem;
}

h5{
	font-size: 1.4rem;
	font-weight: 700;
}

p.tagline{
	font-size: 1.65rem;
	font-weight: 400;
	max-width: 600px;
	margin: 0 auto;
} 

p.tagline span{
	color: #e84c19;
	font-weight: 700;
} 

/*************

Reg Embed 
Section

*************/

.quick-reg-container{
	position: relative;
	background: blue;
	max-width: 100%;
	height: 100%;
}

.reg-embed{
	height: 100vh;
	width: 100%;
}

/*************

Speaker Section

*************/

h4.keynote-speaker{
	font-weight: 700;
	color: #fff;
	margin-top: 1rem;
}

span.name{
	font-weight: 700;
	font-size: 1.1rem;
	color: #fff;
	margin-top: 1rem;
}

span.speaker-title,
.speaker-desc,
.secondary-speaker-title{
	font-weight: 300;
	font-size: 1.1rem;
	color: #fff;
	margin: 0 auto;
}

.primary-speaker-img{
	max-width: 190px;
	margin-bottom: .5rem;
}

.secondary-speaker-container {
  margin-bottom: 2.25rem;
}

.secondary-speaker-img{
	margin-bottom: .9rem;
	max-width: 180px;
}

.speaker-desc{
	margin-top: 1rem;
}

.speaker-section{
	background: #01a940;
}

.primary-speaker-section{
	margin-top: 4rem;
	margin-bottom: 6rem;
}

.secondary-speaker-section-first{
	margin-bottom: 4.5rem;
}
.secondary-speaker-section-second{
	margin-bottom: 3rem;
}

/*************

Agenda and
Sessions Section

*************/

.session-container{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.keynote-section{
	margin-top: 4rem;
}

.session-title{
	font-size: 1.3rem;
}

.session-time{
	font-size: 1.2rem;
	font-weight: 500;
}

.session-description{
	font-size: 1.1rem;
	font-weight: 400;
  line-height: 1.7rem;
}

/*************

Register Now
Section

*************/

.register-now{
	background: #002bcc;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.register-now-button{
	font-weight: 500;
	font-size: 1.5rem;
	color: #002bcc;
	background: #fff;
	padding: 12px 75px;
}

.sponsor-img-section{
	margin-top: 3.25rem;
	padding-left: 10px;
	padding-right: 10px;
}

.sponsor-img-container{
	padding-left: 5px;
	padding-right: 5px;
}

.sponsor-img-container img{
	padding: 5px;
	position: relative;
}

.last-sponsor-img{
	max-width: 220px;
}

.trusted-company-img-section{
	margin-top: 3.25rem;
	padding-left: 10px;
	padding-right: 10px;
}

.trusted-company-img-row{
	margin-bottom: 1.75rem;
}

.trusted-company-tagline{
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0 auto;
}

.trusted-company-section{
	margin-top: 5.5rem;
	margin-bottom: 2.5rem;
}


/*************

Footer

*************/

.list-group{
	font-size: .75rem;

}

.list-group-item{
	background-color: transparent;
	border: none;
	padding: .75rem .25rem;
	font-weight: 300;
}

.footer-section-first{
	border-bottom: 1px solid #bdc1c4; 
	margin-bottom: 1.15rem;
	color: #797f82;
}

.social-media-icon{
	max-width: 30px;
}

/*************

Media Queries

*************/

@media screen and (min-width: 0px) and (max-width: 872px)  {
	.reg-embed {
    height: 115vh;
    width: 100%;
	}
}


@media (max-width: 543px) { 
	html{
		font-size: 13.5px;
	}  
	.primary-speaker-img,
	.secondary-speaker-img {
    width: 60%;
    min-width: 150px;
	}
}

@media (max-width: 577px) { 
	.secondary-speaker-section-first {
    margin-bottom: 0;
	}
}

@media (min-width: 544px) and (max-width: 1199px) { 
  html{
		font-size: 14px;
	} 
}

@media (min-width: 1200px) {
  html{
		font-size: 16px;
	} 
}

